RelationalAI.Test/bin
RelationalAI.Test/obj
RelationalAI.Examples/bin
RelationalAI.Examples/obj
RelationalAI.Fluent/bin
RelationalAI.Fluent/obj
RelationalAI.Fluent.Test/bin
RelationalAI.Fluent.Test/obj
RelationalAI.Protos/bin
RelationalAI.Protos/obj
RelationalAI/bin
RelationalAI/obj
launch.json
tasks.json
.vscode
.vs
